.sign-up-title{
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #013862;
}

input[type=number]{
    border: 4px solid #013862;
    margin-bottom: 15px;
    color: #013862;
    padding-left: 10px;
}

input[type=email]{
    border: 4px solid #013862;
    margin-bottom: 15px;
    color: #013862;
    padding-left: 10px;
}

input[type=radio]{
    margin-right: 20px;
}

input[type=tel]{
    border: 4px solid #013862;
    margin-bottom: 15px;
    color: #013862;
    padding-left: 10px;
}

input.has-tip {
    margin-bottom: 0px;
}

.tip {
    margin-bottom: 10px;
    font-size: 12px;
    color: #f9796e
}

.field-label {
    color: #013862;
    margin-bottom: 0;
    margin-right: 2px;
}
