.new-invoice-form{
    display: flex;
    justify-content: center;
}

.secondary__nav{
    display: flex;
    justify-content: center;
    background-color: #013862;

    .secondary__navigation_items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .nav-link{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            min-width: 85px;

            &.active-tab{
                color: #f7976e;
            }
            
            &:hover{
                color: #f7976e;
            }
        }
    }
}

.invoices-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.invoice-wrapper {
    padding: 20px;
    border: 1px black solid;
    flex: 1 0 21%;
}

.no-session-wrapper {
    display: flex;

    .no-session-container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: #f7976e;
        }

        .arrow-button {
            max-height: 8px;
            padding-left: 2px;
        }
    }
}