.confirmationFormContainer {
    text-align: center;
    margin-top: 20px;
    margin: 5% auto 50px;
}

.confirmationFormSection {
    position: relative; 
    margin-bottom: 20px;
    background-color: var(--form-color);
    padding: 35px 40px;
    text-align: left;
    display: inline-block;
    min-width: 460px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
}

.confirmFormTitle {
    font-size: 20px;
    font-weight: 500;
}

.confirm-info {
    max-width: 400px
}

@media only screen and (max-width: 768px) {
    .confirmationFormContainer {
        margin: 0 0 30px 0;
    }

    .confirmationFormSection{
        width: 100%;
        box-sizing: border-box;
        padding: 35px 25px;
        box-shadow: none;
        border-radius: 0;
        min-width: auto;
    }
}

