.sign-up-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #013862;
}

.sign-up-form{
    padding: 15px 30px 10px 30px;
}

@media screen and (min-width: 768px) {
    .sign-up-form {
        max-width: 600px;
        margin: auto;
    }
}

.sign-up-button-wrapper {
    text-align: center;
}

#role-a{
    margin-right: 10px;
}