header {
  position: sticky;
  top: 0;
}

.promotions {
  display: none;
  background-color: beige;
}

.nav-container.sign-in-up {
  background-color: white;
}

.nav-buttons-wrapper.sign-in-up {
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-container {
  background-color: #f7976e;
}



.nav-buttons-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:10vh;
}

.nav-button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35%;
    border-color: white;
    border-width: thick;
    color: white;
    background-color: #f7976e;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.nav-tab{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35%;
  border: 5px solid white;
  color: white;
  background-color: #f7976e;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  outline: #f7976e;
}

.nav-tab.sign-in-up{
  color: #013862;
  background-color: white;
  border: 5px solid #013862;
}

.nav-tab.sign-in-up-home{
  color: #f7976e;
  background-color: white;
  border: 5px solid #f7976e;
}


.welcome-section {
  text-align: center;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #013862;
}

.welcome-text {
  font-size: 35px;
}

.welcome-section .company-name {
  font-size: 75px;
  font-weight: bolder; 
}

@media screen and (max-width: 360px){
  .welcome-section .company-name {
    font-size: 60px;
  }
}

.mission-statement {
  text-align: justify;
  margin-top: 20px;
}

.emphasize { 
  font-weight: 600;
}

.icons {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-width: 25%;
  margin: 10px;
}

.learn-more {
  margin-top: 40px;
  text-align: center;
}

.learn-more-text{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

.down-arrow {
  max-width: 40px;
  display: inline-block;
}

.hero-section {
  min-height: 90vh;
  overflow: hidden;
}