.sessionViewContainer{
    padding: 30px;
}

.dateSelectors{
    padding-top: 15px;
    align-text:center;
    margin: auto;
    width: 65%;
}

.sessionView{
    
}

.formLabel{
    padding-right: 10px;
}