.sessionWrapper{
    padding: 20px;
    border: solid;
    border-color: black;
    margin: 20px;
}

.hiddenWrapper{
    display: none;
}

.flexContainer{
    display: flex;
}

.flexContainer > div {
    width: auto;
}

.session-info {
    flex-grow: 1;
}

.session-button-container{
    display:flex;
    flex-direction: column-reverse;
    margin:auto;
}

.session-button-container > button {
    margin-bottom: 10px;
}