table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin:auto;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form{
    padding: 30px;
}

.category{
    font-weight: bold;
}